<ul>
  <li>
    <div id="MyImage">
      <img id="theImage" src="./assets/MoneyJar.png" />
      <button id="myButton" class="btn btn-primary">Why Choose Us</button>
    </div>
  </li>
  <li>
    <div id="MyImage">
      <img id="theImage" src="./assets/testimonials.jpg" />
      <button id="myButton" class="btn btn-primary">Testimonials</button>
    </div>
  </li>
  <li>
    <div id="MyImage">
      <img id="theImage" src="./assets/StorageTips.jpg" />
      <button id="myButton" class="btn btn-primary">Storage Tips</button>
    </div>
  </li>
</ul>