<img class="headerImage" src="./assets/StorageTips.jpg" />
<div class="storageTips">
  <h3>
    Helpful Storage Tips:
  </h3>
  <hr>
  <ul type="square">
    <li>
      Store frequently needed items at the front of the storage unit, and move rarely used items to the back. It is also a good
      idea to try and leave enough space to walk through all the way to the back of the unit. This will save you the effort
      of moving items if you need to get something from the back of the unit.
    </li>
    <li>
      Many people often forget exactly what items they placed in storage, and spend hours looking for an item in their houses instead.
      By making a record of all the items you're placing in storage, you can save yourself a lot of time and effort.
    </li>
    <li>
      All furniture items should be covered to prevent dust.
    </li>

    <span></span>
    <li>
      Bigger items should be dismantled to help save space, if possible.
    </li>
    <li>
      Mattresses and other furniture should be stood up straight where possible, both to save space and to help protect them from
      losing shape.
    </li>
    <li>
      The more items you can place in boxes, the more space you save. Heavier boxes should be on the bottom, and fragile boxes
      should preferably be stacked on top of them.
    </li>
    <li>
      Volatile materials such as paints, fuel etc. should never be stored.
    </li>
  </ul>
</div>
<app-footer></app-footer>
