<img class="headerImage" src="./assets/contact.jpg" />

<div class="map">
  <iframe width="450" height="300" frameborder="0" style="border:0; margin-top:50px;" src="https://www.google.com/maps/embed/v1/place?q=place_id:EjAxNjYgTWF0aGVzb24gQmx2ZCBFLCBNaXNzaXNzYXVnYSwgT04gTDRaLCBDYW5hZGE&key=AIzaSyBVvM7tl84jNtIgAMjWuEtt90Inplr7Zm4"
    allowfullscreen></iframe>
</div>
<div class="contact">
  <!-- <form action="http://formspree.io/sahilgandhi15@gmail.com" method="post">
    <div class="row">
      <div class="col-sm-12">
        <label for="senderEmail">Enter Your Email</label>
        <input type="email" id="senderEmail" name="_replyto">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label for="message">Enter Your Message</label>
        <textarea name="body" id="message"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="submit" value="Send">
      </div>
    </div>
  </form> -->

  <div class="row">
    <div class="col-sm-12">
      <label for="email">Email -</label>
      <a href="mailto:sahilgandhi15@gmail.com" id="email">jitStorage@gmail.com</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label for="contact">Contact No. -</label>
      <span id="contact">905-629-1660</span>
    </div>
  </div>
</div>