<app-main-header [imagePath]="'./assets/contact.jpg'"></app-main-header>

<div class="section">
  <div class="row">
    <div class="col-sm-12">

      <div class="contact">
        <div class="row">
          <div class="col-sm-12">
            <label for="email">Email -</label>
            <a href="mailto:sahilgandhi15@gmail.com"
              id="email">shurguardStorage@gmail.com</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="contact">Contact No. -</label>
            <span id="contact">(905) 575-9441</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="contact">Address. -</label>
            <span id="contact">1290 Stone Church Rd E,
              <br> Hamilton, ON L8W 2C8. Canada.
            </span>
          </div>
        </div>
      </div>
      <div class="map">
        <iframe width="400"
          height="300"
          frameborder="1"
          src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1290%20Stone%20Church%20Rd%20E%2C%20Hamilton%2C%20ON%20L8W%202C8+(Shurguard%20Self%20Storage)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
